* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  flex-direction: column;
}

.backgroundColorized {
  animation-name: backgroundColorRotation;
  animation-duration: 120s;
  animation-iteration-count: infinite;
}

@keyframes backgroundColorRotation {
  0% {
    background-color: hsl(0deg, 50%, 89%);
  }
  50% {
    background-color: hsl(180deg, 50%, 89%);
  }
  100% {
    background-color: hsl(360deg, 50%, 89%);
  }
}
